inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.Rproj
*.o
*.so
*_cache/
*_files/
*.pdfsync
example-articles/
*.DS_Store
*.synctex.gz
*.out
*.log
*.aux
extras/deprecated/
manuscript/gfx
manuscript/jasa-reject